.row {
}
h2 {
    text-align: center;
}

.link {
    text-align: : center;
    padding: 30px;
}
.twitter_account {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 5px;
    padding: 8px;
}
.twitter_account img {
    border: medium none;
    text-decoration: none;
    width: 32px;
}
.twitter_account .twitter_username {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

.twitter_account .occurrence{
  margin-top:2px;
}
